on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true
      GRADLE_CONFIG_CACHE_KEY:
        required: true

permissions: {}

jobs:
  build-project:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Shallow clones should be disabled for SonarCloud
      - name: Setup repo
        uses: ./.github/actions/setup-env
        with:
          GRADLE_CONFIG_CACHE_KEY: ${{ secrets.GRADLE_CONFIG_CACHE_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run tests
        env:
          SONAR_HOST_URL: ${{vars.SONAR_HOST_URL}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew checkCI
